﻿<!DOCTYPE html>
<!--
Project: Integrated Solid Waste Management System (ISWMS)
Author: NeerayTech
Team: Amit S
Contact: info@neeraytech.com
-->
<html lang="en">
<!-- begin::Head -->
<head>
    <base href="">
    <meta charset="utf-8" />
    <title>ISWMS - Integrated Solid Waste Management System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="../../Scripts/jquery-3.3.1.min.js"></script>
    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <!--end::Fonts -->
    <!--begin::Page Vendors Styles(used by this page) -->
    <link href="../../assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="../../assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="../../assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/skins/brand/navy.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/skins/aside/navy.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Skins -->

    <link rel="shortcut icon" href="../../assets/media/logos/favicon.ico" />

    <link href="../../assets/css/custom.css" rel="stylesheet" type="text/css" />

</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-aside-secondary--disabled kt-page--loading">
    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            <a href="index.html">
                <h2 class="kt-font-brand">ISWMS</h2>
            </a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
        </div>
    </div>
    <!-- end:: Header Mobile -->
    <!-- begin:: Root -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <!-- begin:: Page -->
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <!-- begin:: Aside -->
            <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
            <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">
                <!-- begin::Aside Brand -->
                <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
                    <div class="kt-aside__brand-logo">
                        <a href="index.html">
                            <h2 class="kt-font-brand">ISWMS</h2>
                        </a>
                    </div>
                    <div class="kt-aside__brand-tools">
                        <button class="kt-aside__brand-aside-toggler kt-aside__brand-aside-toggler--left" id="kt_aside_toggler"><span></span></button>
                    </div>
                </div>
                <!-- end:: Aside Brand -->
                <!-- begin:: Aside Menu -->
                <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                    <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500">
                        <ul class="kt-menu__nav ">

                            <li class="kt-menu__item kt-menu__item--here">
                                <a href="javascript:;" onclick="location.href='@Url.Action("Index","ComplaintManagement")'" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-graphic"></i><span class="kt-menu__link-text">Complaints Summary</span></a>
                            </li>

                            <li class="kt-menu__item " aria-haspopup="true"><a  onclick="location.href='@Url.Action("ComplaintLogin", "Login")'"  href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Sign Out</span></a></li>

                        </ul>
                    </div>
                </div>
                <!-- end:: Aside Menu -->
            </div>
            <!-- end:: Aside -->
            <!-- begin:: Wrapper -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                
                        @RenderBody()

                        @if (ViewBag.MessageCode != null)
                        {
                            if (ViewBag.MessageCode == 1)
                            {
                                <!--begin:: Toast markup-->
                                <div class="toast toast-custom toast-fill fade show" role="alert" aria-live="assertive" aria-atomic="true" id="toast_success">
                                    <div class="toast-header">
                                        <i class="toast-icon fa fa-check-circle kt-font-success"></i><span class="toast-title">SUCCESS</span>
                                        <small class="toast-time">Just now</small>
                                        <button type="button" class="toast-close" data-dismiss="toast" aria-label="Close"><i class="fa fa-times"></i></button>
                                    </div>
                                    <div class="toast-body">@ViewBag.MessageTxt</div>
                                </div>
                                <!--end:: Toast markup-->
                            }
                            else
                            {
                                <!--begin:: Toast markup-->
                                <div class="toast toast-custom toast-fill fade show" role="alert" aria-live="assertive" aria-atomic="true" id="toast_error">
                                    <div class="toast-header">
                                        <i class="toast-icon fa fa-times-circle kt-font-danger"></i><span class="toast-title">ERROR</span>
                                        <small class="toast-time">Just now</small>
                                        <button type="button" class="toast-close" data-dismiss="toast" aria-label="Close"><i class="fa fa-times"></i></button>
                                    </div>
                                    <div class="toast-body">@ViewBag.MessageTxt<br>Please try again!</div>
                                </div>
                                <!--end:: Toast markup-->
                            }



                        }

                        <!-- begin:: Footer -->
                        <div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop">
                            <div class="kt-container  kt-container--fluid ">
                                <div class="kt-footer__copyright">
                                    &copy;&nbsp;&nbsp;2020&nbsp;&nbsp;<a href="#" target="_blank" class="kt-link">ISWMS</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;All rights reserved
                                </div>
                                <div class="kt-footer__menu">
                                    <a href="#" target="_blank" class="kt-footer__menu-link kt-link">About</a>
                                    <a href="#" target="_blank" class="kt-footer__menu-link kt-link">Privacy</a>
                                    <a href="#" target="_blank" class="kt-footer__menu-link kt-link">Legal</a>
                                    <a href="#" target="_blank" class="kt-footer__menu-link kt-link">Contact</a>
                                </div>
                            </div>
                        </div>
                        <!-- end:: Footer -->
                    </div>
                    <!-- end:: Wrapper -->
                   
                </div>
                <!-- end:: Page -->
            </div>
    <!-- end:: Root -->
    <!-- begin:: Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="la la-arrow-up"></i>
    </div>
    <!-- end:: Scrolltop -->
    <!-- end::Demo Panel -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "metal": "#c4c5d6",
                    "light": "#ffffff",
                    "accent": "#00c5dc",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995",
                    "focus": "#9816f4"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };</script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="../../assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="../../assets/js/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Vendors(used by this page) -->
    <script src="../../assets/plugins/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
    <script src="../../assets/plugins/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
    <!--end::Page Vendors -->
    <!--begin::Page Scripts(used by this page) -->
    <script src="../../assets/js/pages/dashboard.js" type="text/javascript"></script>
    <script src="../../assets/js/pages/components/base/toasts.js" type="text/javascript"></script>
    <script src="../../assets/js/pages/components/datatables/basic/paginations.js" type="text/javascript"></script>    
    <!--end::Page Scripts -->

</body>
<!-- end::Body -->
</html>