﻿<!DOCTYPE html>
<!--
Project: Integrated Solid Waste Management System (ISWMS)
Author: NeerayTech
Team: Amit S
Contact: info@neeraytech.com
-->
<html lang="en">
<!-- begin::Head -->
<head>
    <base href="">
    <meta charset="utf-8" />
    <title>ISWMS - Integrated Solid Waste Management System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="../../Scripts/jquery-3.3.1.min.js"></script>
    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <!--end::Fonts -->
    <!--begin::Page Vendors Styles(used by this page) -->
    <link href="../../assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="../../assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="../../assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/skins/brand/navy.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/skins/aside/navy.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Skins -->

    <link rel="shortcut icon" href="../../assets/media/logos/favicon.ico" />

    <link href="../../assets/css/custom.css" rel="stylesheet" type="text/css" />

</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-aside-secondary--disabled kt-page--loading">
    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            <a href="index.html">
                <h2 class="kt-font-brand">ISWMS</h2>
            </a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
        </div>
    </div>
    <!-- end:: Header Mobile -->
    <!-- begin:: Root -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <!-- begin:: Page -->
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <!-- begin:: Aside -->
            <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
            <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">
                <!-- begin::Aside Brand -->
                <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
                    <div class="kt-aside__brand-logo">
                        <a href="index.html">
                            <h2 class="kt-font-brand">ISWMS</h2>
                        </a>
                    </div>
                    <div class="kt-aside__brand-tools">
                        <button class="kt-aside__brand-aside-toggler kt-aside__brand-aside-toggler--left" id="kt_aside_toggler"><span></span></button>
                    </div>
                </div>
                <!-- end:: Aside Brand -->
                <!-- begin:: Aside Menu -->
                <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                    <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500">
                        <ul class="kt-menu__nav ">

                            <li class="kt-menu__item kt-menu__item--here kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-graphic"></i><span class="kt-menu__link-text">Dashboard</span></a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true"><span class="kt-menu__link"><span class="kt-menu__link-text">Dashboard</span></span></li>
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">City Dahboard</span></a>
                                        </li>
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Vehicles Dashboard</span></a>
                                        </li>
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Location Dashboard</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            @if (Session["UserTypeID"].ToString() == "1")
                            {
                                <li class="kt-menu__section ">
                                    <h4 class="kt-menu__section-text">Tracking</h4>
                                    <i class="kt-menu__section-icon flaticon-more-v2"></i>
                                </li>

                                <li class="kt-menu__item " aria-haspopup="true"><a onclick="location.href='@Url.Action("Index","TruckTrackingHistory")'" href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">GPS Tracking</span></a></li>

                                <li class="kt-menu__item " aria-haspopup="true"><a onclick="location.href='@Url.Action("Index","RFIDScannerPunching")'" href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Live Tracking</span></a></li>

                                <li class="kt-menu__item ">
                                    <a href="javascript:;" onclick="location.href='@Url.Action("Index","ComplaintManagement")'" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-graphic"></i><span class="kt-menu__link-text">Complaints Summary</span></a>
                                </li>

                                <li class="kt-menu__section ">
                                    <h4 class="kt-menu__section-text">Master Data</h4>
                                    <i class="kt-menu__section-icon flaticon-more-v2"></i>
                                </li>
                                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-telegram-logo"></i><span class="kt-menu__link-text">System User</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                                    <div class="kt-menu__submenu ">
                                        <span class="kt-menu__arrow"></span>
                                        <ul class="kt-menu__subnav">
                                            <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true"><span class="kt-menu__link"><span class="kt-menu__link-text">System User</span></span></li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" onclick="location.href='@Url.Action("Index","User")'" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">User Info</span></a>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" onclick="location.href='@Url.Action("Index","UserType")'" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">User Type Info</span></a>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" onclick="location.href='@Url.Action("Index","Area")'" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Area Info</span></a>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" onclick="location.href='@Url.Action("Index","Module")'" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Module Info</span></a>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" onclick="location.href='@Url.Action("Index","Action")'" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Action Info</span></a>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" onclick="location.href='@Url.Action("Index","UserTypeModule")'" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">User Type Module Info</span></a>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" onclick="location.href='@Url.Action("Index","UserSecurityAccess")'" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">User Security Access Info</span></a>
                                            </li>

                                        </ul>
                                    </div>
                                </li>
                                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-telegram-logo"></i><span class="kt-menu__link-text">Vehicles</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                                    <div class="kt-menu__submenu ">
                                        <span class="kt-menu__arrow"></span>
                                        <ul class="kt-menu__subnav">
                                            <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true"><span class="kt-menu__link"><span class="kt-menu__link-text">Vehicles</span></span></li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" onclick="location.href='@Url.Action("Index","Truck")'" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Truck Info</span></a>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" onclick="location.href='@Url.Action("Index","Driver")'" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Driver Info</span></a>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" onclick="location.href='@Url.Action("Index","GPS")'" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">GPS Info</span></a>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" onclick="location.href='@Url.Action("Index","RFIDScanner")'" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">RFID Scanner Info</span></a>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" onclick="location.href='@Url.Action("Index","Route")'" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Route Info</span></a>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" onclick="location.href='@Url.Action("Index","RouteHouseholdDetail")'" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Route Household Info</span></a>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" onclick="location.href='@Url.Action("Index","ISWMS")'" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">ISWMS Info</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-copy"></i><span class="kt-menu__link-text">Location</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                                    <div class="kt-menu__submenu ">
                                        <span class="kt-menu__arrow"></span>
                                        <ul class="kt-menu__subnav">
                                            <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true"><span class="kt-menu__link"><span class="kt-menu__link-text">Location</span></span></li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" onclick="location.href='@Url.Action("Index","Ward")'" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Ward Info</span></a>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" onclick="location.href='@Url.Action("Index","WardKaryakarta")'" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Ward Karyakrata Info</span></a>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" onclick="location.href='@Url.Action("Index","HouseHold")'" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Household Info</span></a>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" onclick="location.href='@Url.Action("Index","RFIDhouseholdDetails")'" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">RFID Household Info</span></a>
                                            </li>

                                        </ul>
                                    </div>
                                </li>
                                <li class="kt-menu__section ">
                                    <h4 class="kt-menu__section-text">Other</h4>
                                    <i class="kt-menu__section-icon flaticon-more-v2"></i>
                                </li>

                                <li class="kt-menu__item " aria-haspopup="true"><a target="_blank" href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Notifications</span></a></li>

                                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-open-box"></i><span class="kt-menu__link-text">Complaints</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                                    <div class="kt-menu__submenu ">
                                        <span class="kt-menu__arrow"></span>
                                        <ul class="kt-menu__subnav">
                                            <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true"><span class="kt-menu__link"><span class="kt-menu__link-text">Complaints</span></span></li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Add New Complaint</span></a>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Manage Complaints</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                            }
                            else if (Session["UserTypeID"].ToString() == "3")
                            {
                                <li class="kt-menu__item " aria-haspopup="true"><a onclick="location.href='@Url.Action("Index","Ward")'" href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Ward Info</span></a></li>

                                <li class="kt-menu__item " aria-haspopup="true"><a onclick="location.href='@Url.Action("Index","User")'" href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Karyakrata Info</span></a></li>

                                <li class="kt-menu__item " aria-haspopup="true"><a onclick="location.href='@Url.Action("Index","WardKaryakarta")'" href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Ward Karyakrata Info</span></a></li>

                                <li class="kt-menu__item " aria-haspopup="true"><a onclick="location.href='@Url.Action("Index","HouseHold")'" href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Household Info</span></a></li>

                                <li class="kt-menu__item " aria-haspopup="true"><a onclick="location.href='@Url.Action("Index","RFIDhouseholdDetails")'" href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">RFID Household Info</span></a></li>



                            }
                            else if (Session["UserTypeID"].ToString() == "6")
                            {
                                <li class="kt-menu__item " aria-haspopup="true"><a onclick="location.href='@Url.Action("Index","HouseHold")'" href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Household Info</span></a></li>

                                <li class="kt-menu__item " aria-haspopup="true"><a onclick="location.href='@Url.Action("Index","RFIDhouseholdDetails")'" href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">RFID Household Info</span></a></li>

                                <li class="kt-menu__item " aria-haspopup="true"><a onclick="location.href='@Url.Action("Index","RFIDScanner")'" href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">RFID Scanner Info</span></a></li>

                            }
                            else if (Session["UserTypeID"].ToString() == "7")
                            {
                                <li class="kt-menu__item " aria-haspopup="true"><a onclick="location.href='@Url.Action("Index","Truck")'" href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Truck Info</span></a></li>

                                <li class="kt-menu__item " aria-haspopup="true"><a onclick="location.href='@Url.Action("Index","Driver")'" href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Driver Info</span></a></li>

                                <li class="kt-menu__item " aria-haspopup="true"><a onclick="location.href='@Url.Action("Index","GPS")'" href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">GPS Info</span></a></li>                                

                                <li class="kt-menu__item " aria-haspopup="true"><a onclick="location.href='@Url.Action("Index","Route")'" href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Route Info</span></a></li>

                                <li class="kt-menu__item " aria-haspopup="true"><a onclick="location.href='@Url.Action("Index","RouteHouseholdDetail")'" href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Route Household Info</span></a></li>

                                <li class="kt-menu__item " aria-haspopup="true"><a onclick="location.href='@Url.Action("Index","ISWMS")'" href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">ISWMS Info</span></a></li>
                            }


                        </ul>
                    </div>
                </div>
                <!-- end:: Aside Menu -->
            </div>
            <!-- end:: Aside -->
            <!-- begin:: Wrapper -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                <!-- begin:: Header -->
                <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">
                    <!-- begin:: Header Menu -->
                    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                    <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout- ">
                            <ul class="kt-menu__nav ">

                                <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Daily Reports</span><i class="kt-menu__hor-arrow la la-angle-down"></i><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                                    <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                        <ul class="kt-menu__subnav">
                                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-map"></i><span class="kt-menu__link-text">Report Name #1</span></a></li>
                                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-user"></i><span class="kt-menu__link-text">Report Name #2</span></a></li>
                                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-clipboard"></i><span class="kt-menu__link-text">Report Name #3</span></a></li>
                                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-graphic-1"></i><span class="kt-menu__link-text">Report Name #4</span></a></li>
                                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-graphic-2"></i><span class="kt-menu__link-text">Report Name #5</span></a></li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Performace Reports</span><i class="kt-menu__hor-arrow la la-angle-down"></i><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                                    <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                        <ul class="kt-menu__subnav">
                                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-map"></i><span class="kt-menu__link-text">Vehicle Report</span></a></li>
                                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-user"></i><span class="kt-menu__link-text">Driver Report</span></a></li>
                                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-clipboard"></i><span class="kt-menu__link-text">Household Report</span></a></li>
                                            <!--
                                                                                <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-graphic-1"></i><span class="kt-menu__link-text">Report Name #4</span></a></li>
                                                                                <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-graphic-2"></i><span class="kt-menu__link-text">Report Name #5</span></a></li>
                                -->
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- end:: Header Menu -->
                    <!-- begin:: Header Topbar -->
                    <div class="kt-header__topbar">
                        <!--begin: User Bar -->
                        <div class="kt-header__topbar-item kt-header__topbar-item--user">
                            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
                                <!--use "kt-rounded" class for rounded avatar style-->
                                <div class="kt-header__topbar-user kt-rounded-">
                                    <img alt="Pic" src="../../@Session["UserPhoto"]" class="kt-rounded-" />
                                    <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                    <span class="kt-badge kt-badge--username kt-badge--lg kt-badge--brand kt-hidden kt-badge--bold">S</span>
                                </div>
                            </div>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-sm">
                                <div class="kt-user-card kt-margin-b-40 kt-margin-b-30-tablet-and-mobile" style="background-image: url(assets/media/misc/head_bg_sm.jpg)">
                                    <div class="kt-user-card__wrapper">
                                        <div class="kt-user-card__pic">
                                            <!--use "kt-rounded" class for rounded avatar style-->
                                            <img alt="Pic" src="../../@Session["UserPhoto"]" class="kt-rounded-" />
                                        </div>
                                        <div class="kt-user-card__details">
                                            <div class="kt-user-card__name">@Session["Name"]</div>
                                            <div class="kt-user-card__position">@Session["UserType"]</div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="kt-nav kt-margin-b-10">
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <span class="kt-nav__link-icon"><i class="flaticon2-calendar-3"></i></span>
                                            <span class="kt-nav__link-text">My Profile</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <span class="kt-nav__link-icon"><i class="flaticon2-browser-2"></i></span>
                                            <span class="kt-nav__link-text">My Tasks</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <span class="kt-nav__link-icon"><i class="flaticon2-mail"></i></span>
                                            <span class="kt-nav__link-text">Messages</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#"  onclick="location.href='@Url.Action("AccountSetting", "Profile")'" class="kt-nav__link">
                                            <span class="kt-nav__link-icon"><i class="flaticon2-gear"></i></span>
                                            <span class="kt-nav__link-text">Settings</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__separator kt-nav__separator--fit"></li>
                                    <li class="kt-nav__custom kt-space-between">
                                        <a href="#"  onclick="location.href='@Url.Action("Logout", "Login")'" class="btn btn-label-brand btn-upper btn-sm btn-bold">Sign Out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end: User Bar -->
                        <!--begin:: Quick Panel Toggler -->
                        <div class="kt-header__topbar-item kt-header__topbar-item--quick-panel">
                            <span class="kt-header__topbar-icon"><i class="flaticon-grid-menu"></i></span>
                        </div>
                        <!--end:: Quick Panel Toggler -->
                    </div>
                    <!-- end:: Header Topbar -->
                </div>
                <!-- end:: Header -->
                @RenderBody()

                @if (ViewBag.MessageCode != null)
                {
                    if (ViewBag.MessageCode == 1)
                    {
                        <!--begin:: Toast markup-->
                        <div class="toast toast-custom toast-fill fade show" role="alert" aria-live="assertive" aria-atomic="true" id="toast_success">
                            <div class="toast-header">
                                <i class="toast-icon fa fa-check-circle kt-font-success"></i><span class="toast-title">SUCCESS</span>
                                <small class="toast-time">Just now</small>
                                <button type="button" class="toast-close" data-dismiss="toast" aria-label="Close"><i class="fa fa-times"></i></button>
                            </div>
                            <div class="toast-body">@ViewBag.MessageTxt</div>
                        </div>
                        <!--end:: Toast markup-->
                    }
                    else
                    {
                        <!--begin:: Toast markup-->
                        <div class="toast toast-custom toast-fill fade show" role="alert" aria-live="assertive" aria-atomic="true" id="toast_error">
                            <div class="toast-header">
                                <i class="toast-icon fa fa-times-circle kt-font-danger"></i><span class="toast-title">ERROR</span>
                                <small class="toast-time">Just now</small>
                                <button type="button" class="toast-close" data-dismiss="toast" aria-label="Close"><i class="fa fa-times"></i></button>
                            </div>
                            <div class="toast-body">@ViewBag.MessageTxt<br>Please try again!</div>
                        </div>
                        <!--end:: Toast markup-->
                    }



                }

                <!-- begin:: Footer -->
                <div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop">
                    <div class="kt-container  kt-container--fluid ">
                        <div class="kt-footer__copyright">
                            &copy;&nbsp;&nbsp;2020&nbsp;&nbsp;<a href="#" target="_blank" class="kt-link">ISWMS</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;All rights reserved
                        </div>
                        <div class="kt-footer__menu">
                            <a href="#" target="_blank" class="kt-footer__menu-link kt-link">About</a>
                            <a href="#" target="_blank" class="kt-footer__menu-link kt-link">Privacy</a>
                            <a href="#" target="_blank" class="kt-footer__menu-link kt-link">Legal</a>
                            <a href="#" target="_blank" class="kt-footer__menu-link kt-link">Contact</a>
                        </div>
                    </div>
                </div>
                <!-- end:: Footer -->
            </div>
            <!-- end:: Wrapper -->
            <!-- begin:: Aside Secondary -->
            <!--<button class="kt-aside-secondary-close kt-hide " id="kt_aside_secondary_close_btn"><i class="la la-close"></i></button>-->
            <div class="kt-aside-secondary" id="kt_aside_secondary">
                <div class="kt-aside-secondary__toggle" id="kt_aside_secondary_toggler"></div>

                <button class="kt-aside-secondary__mobile-nav-toggler" id="kt_aside_secondary_mobile_nav_toggler" data-toggle="kt-tooltip" title="Aside Secondary" data-placement="left"></button>

                <div class="kt-aside-secondary__content">
                    <button class="btn btn-sm btn-circle btn-icon kt-aside-secondary__close" id="kt_aside_secondary_close" data-toggle="tooltip" title="Layout Builder" data-placement="Events">
                        <i class="la la-close"></i>
                    </button>
                    <div class="tab-content">
                        <div class="tab-pane fade " id="kt_aside_secondary_tab_1" role="tabpanel">
                            <div class="kt-aside-secondary__content-head">
                                Create Event
                            </div>
                            <div class="kt-aside-secondary__content-body kt-scroll">
                                <form class="kt-form">
                                    <div class="kt-section kt-section--first">
                                        <div class="form-group">
                                            <label>Name:</label>
                                            <input type="email" class="form-control" placeholder="Enter full name">
                                            <span class="form-text text-muted">Please enter your event name</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Location:</label>
                                            <input type="email" class="form-control" placeholder="Enter email">
                                            <span class="form-text text-muted">Please enter event location</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Budget</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="basic-addon2">$</span></div>
                                                <input type="text" class="form-control" placeholder="321,999.99">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Channels:</label>
                                            <div class="kt-checkbox-list">
                                                <label class="kt-checkbox">
                                                    <input type="checkbox"> Email
                                                    <span></span>
                                                </label>
                                                <label class="kt-checkbox">
                                                    <input type="checkbox"> SMS
                                                    <span></span>
                                                </label>
                                                <label class="kt-checkbox">
                                                    <input type="checkbox"> Phone
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-form__actions">
                                        <button type="reset" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-secondary">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="kt_aside_secondary_tab_2" role="tabpanel">
                            <div class="kt-aside-secondary__content-head">
                                New Report
                            </div>
                            <div class="kt-aside-secondary__content-body kt-scroll">
                                <form class="kt-form">
                                    <div class="kt-section kt-section--first">
                                        <div class="form-group">
                                            <label>Name:</label>
                                            <input type="email" class="form-control" placeholder="Enter full name">
                                            <span class="form-text text-muted">Please enter report name</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleSelect">Category:</label>
                                            <select class="form-control" id="exampleSelect">
                                                <option>Finance</option>
                                                <option>Sales</option>
                                                <option>System</option>
                                                <option>Customers</option>
                                                <option>Orders</option>
                                            </select>
                                            <span class="form-text text-muted">Please select report category</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Revenue:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">#</span></div>
                                                <input type="text" class="form-control" placeholder="Units" aria-describedby="basic-addon1">
                                                <div class="input-group-append"><span class="input-group-text">$</span></div>
                                            </div>
                                            <span class="form-text text-muted">Please enter treshhold name</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Filter:</label>
                                            <div class="kt-checkbox-list">
                                                <label class="kt-checkbox">
                                                    <input type="checkbox"> Pending transations
                                                    <span></span>
                                                </label>
                                                <label class="kt-checkbox">
                                                    <input type="checkbox"> Include margins
                                                    <span></span>
                                                </label>
                                                <label class="kt-checkbox">
                                                    <input type="checkbox"> Include balance
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-form__actions">
                                        <button type="reset" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-secondary">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="kt_aside_secondary_tab_3" role="tabpanel">
                            <div class="kt-aside-secondary__content-head">
                                Notifications
                            </div>
                            <div class="kt-aside-secondary__content-body kt-aside-secondary__content-body--fit-x kt-scroll">
                                <div class="kt-notification">
                                    <a href="#" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon-time-2"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title">
                                                New order has been received
                                            </div>
                                            <div class="kt-notification__item-time">
                                                2 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon-upload-1"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title">
                                                New customer is registered
                                            </div>
                                            <div class="kt-notification__item-time">
                                                3 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon-interface-8"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title">
                                                Application has been approved
                                            </div>
                                            <div class="kt-notification__item-time">
                                                3 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon-file"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title">
                                                New file has been uploaded
                                            </div>
                                            <div class="kt-notification__item-time">
                                                5 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon-user"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title">
                                                New user feedback received
                                            </div>
                                            <div class="kt-notification__item-time">
                                                8 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon-cogwheel"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title">
                                                System reboot has been successfully completed
                                            </div>
                                            <div class="kt-notification__item-time">
                                                12 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon-light"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title">
                                                New order has been placed
                                            </div>
                                            <div class="kt-notification__item-time">
                                                15 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="kt-notification__item kt-notification__item--read">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon-interface-2"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title">
                                                Company meeting canceled
                                            </div>
                                            <div class="kt-notification__item-time">
                                                19 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon-diagram"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title">
                                                New report has been received
                                            </div>
                                            <div class="kt-notification__item-time">
                                                23 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon-pie-chart"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title">
                                                Finance report has been generated
                                            </div>
                                            <div class="kt-notification__item-time">
                                                25 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon-speech-bubble-1"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title">
                                                New customer comment recieved
                                            </div>
                                            <div class="kt-notification__item-time">
                                                2 days ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon-warning"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title">
                                                New customer is registered
                                            </div>
                                            <div class="kt-notification__item-time">
                                                3 days ago
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- end:: Aside Secondary -->
        </div>
                <!-- end:: Page -->
            </div>
    <!-- end:: Root -->
    <!-- begin:: Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="la la-arrow-up"></i>
    </div>
    <!-- end:: Scrolltop -->
    <!-- end::Demo Panel -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "metal": "#c4c5d6",
                    "light": "#ffffff",
                    "accent": "#00c5dc",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995",
                    "focus": "#9816f4"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };</script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="../../assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="../../assets/js/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Vendors(used by this page) -->
    <script src="../../assets/plugins/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
    <script src="../../assets/plugins/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
    <!--end::Page Vendors -->
    <!--begin::Page Scripts(used by this page) -->
    <script src="../../assets/js/pages/dashboard.js" type="text/javascript"></script>
    <script src="../../assets/js/pages/components/base/toasts.js" type="text/javascript"></script>
    <script src="../../assets/js/pages/components/datatables/basic/paginations.js" type="text/javascript"></script>    
    <!--end::Page Scripts -->

</body>
<!-- end::Body -->
</html>