﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyDNpkrTN-vWxl2UkV9mDYO6QmA3AKCZkOY"></script>

<div id="map_canvas" style="width:750px; height:450px; border: 2px solid #3872ac;"></div>


<script>
    var geocoder;
var map;
 var lastCoordinates = [];
    var marker;
    var Hmarker;
    var NHmarker;
    var count = 0;

    var lineSymbol = {
        path: 'M 0,-1 0,1',
        strokeOpacity: 1,
        scale: 4
    };

var polyline = new google.maps.Polyline({
   // set desired options for color width
   strokeColor:"#00FF00",  // blue (RRGGBB, R=red, G=green, B=blue)
    strokeOpacity: 0.4,    // opacity of line     
    icons: [{
        icon: lineSymbol,
        offset: '0',
        repeat: '20px'
    }],
}); // create the polyline (global)
var path = []; // global variable to hold all the past locations

function initialize() {
    map = new google.maps.Map(
    document.getElementById("map_canvas"), {
        center: new google.maps.LatLng(18.566346, 73.774704),
        zoom: 20,
        mapTypeId: google.maps.MapTypeId.ROADMAP
        });

    setInterval(gotdata, 10000);

}
google.maps.event.addDomListener(window, "load", initialize);

    function gotdata() {
        $.ajax({

            type: "POST",
            url: "/MapFun/GetTruckCurrentLocation",
            success: function (result, status, xhr) {
                //alert(result.lat);
                //alert(result.lng);

                // if (xmlhttp.readyState == 4){
                count++;
                // var d = xmlhttp.responseXML.documentElement
                //innerHTML shouldn't work for XML-Nodes
                x = result.lat; // d.getElementsByTagName("y")[0].textContent,
                y = result.lng; //d.getElementsByTagName("x")[0].textContent,
                h = [x, y].join('_');

                if (lastCoordinates[h]) {
                    return;
                }



                //lastCoordinates[h] = new google.maps.Marker({
                //    position: new google.maps.LatLng(x, y),
                //    map: map,
                //    title: 'YAY'
                //});
                // if marker exists and has a .setMap method, hide it
                if (marker && marker.setMap) {
                    marker.setMap(null);
                }

                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(x, y),
                    map: map
                });
                marker.setIcon('http://18.191.22.78/Images/truck1.png');

                lastCoordinates[h] = marker;
                map.panTo(lastCoordinates[h].getPosition());
                path.push(lastCoordinates[h].getPosition());
                if (path.length >= 2) {
                    // display the polyline once it has more than one point
                    polyline.setMap(map);
                    polyline.setPath(path);
                }


                if (Hmarker && Hmarker.setMap) {
                    Hmarker.setMap(null);
                }
                if (NHmarker && NHmarker.setMap) {
                    NHmarker.setMap(null);
                }


                //NOt Punch House                
                var hdata = JSON.parse(result.NTPunchHouse);               
                // Using the JQuery "each" selector to iterate through the JSON list and drop marker pins
                $.each(hdata, function (i, item) {

                    var adrs = item.address1 + ", " + item.address2 + ", " + item.ward_number + ", " + item.area_name + ", " + item.city;
                     Hmarker = new google.maps.Marker({
                         'position': new google.maps.LatLng(item.latitude, item.longitude),
                        'map': map,
                         'title': adrs
                    });
                    // You can make markers different colors...google it up!
                    Hmarker.setIcon('http://18.191.22.78/Images/RedHouse.png')

                   
                })

                //Punch House                
                hdata = JSON.parse(result.PunchHouse);
                // Using the JQuery "each" selector to iterate through the JSON list and drop marker pins
                $.each(hdata, function (i, item) {
                    var adrs = item.address1 + ", " + item.address2 + ", " + item.ward_number + ", " + item.area_name + ", " + item.city;
                    NHmarker = new google.maps.Marker({
                        'position': new google.maps.LatLng(item.latitude, item.longitude),
                        'map': map,
                        'title': adrs
                    });
                    // You can make markers different colors...google it up!
                    NHmarker.setIcon('http://18.191.22.78/Images/GreenHouse.png')

                    //// put in some information about each json object - in this case, the opening hours.
                    //var infowindow = new google.maps.InfoWindow({
                    //    content: "<div class='infoDiv'><h4 class='mapTitle'>" + adrs + "</h4>" + "<div>"
                    //});

                    //// finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
                    //google.maps.event.addListener(NHmarker, 'click', function () {
                    //    infowindow.open(map, NHmarker);
                    //});

                })


            }

        });


    // }
}
</script>