﻿@model ISWM.WEB.Models.Models.AccountSettingModel

@{
    ViewBag.Title = "AccountSetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

    <!-- begin:: Subheader -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-container kt-container--fluid kt-margin-t-10 kt-margin-b-10">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">Account Settings</h3>
            </div>
           
        </div>
    </div>
    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--tabs">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-toolbar">
                    <ul class="nav nav-tabs nav-tabs-space-xl nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link @ViewBag.tabProfile" data-toggle="tab" href="#myprofile" role="tab">
                                <i class="flaticon2-calendar-3"></i> My Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @ViewBag.tabPSW" data-toggle="tab" href="#securityaccess" role="tab">
                                <i class="flaticon2-lock"></i> Security Access
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="kt-portlet__body">                
                    <!--begin: Tab Content-->
                    <div class="tab-content kt-margin-t-20 kt-margin-b-20">
                        <!--begin: Tab-->
                        <div class="tab-pane @ViewBag.tabProfile" id="myprofile" role="tabpanel">
                            <form action="Profile/AccountSetting" method="post" enctype="multipart/form-data" id="kt_user_form">
                                <div class="kt-form kt-form--label-right">
                                    <div class="kt-form__body">
                                        <div class="kt-section kt-section--first">
                                            <div class="kt-section__body">
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Profile Image</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="kt-avatar kt-avatar--outline kt-avatar--circle-" id="kt_user_avatar">
                                                            <div class="kt-avatar__holder" style="background-image: url('../../@Session["UserPhoto"]');"></div>
                                                            <label class="kt-avatar__upload">
                                                                <i class="fa fa-pen"></i>
                                                                @*<input type="file" id="uploadfile2" accept=".png, .jpg, .jpeg">*@
                                                                <input type="file" accept="image/gif,image/jpeg,image/jpg,image/png,image/bmp" id="photoUp" data-type='image' title="Please Upload Valid Image">
                                                            </label>
                                                            <span class="kt-avatar__cancel">
                                                                <i class="fa fa-times"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="hidden" role="alert" aria-live="assertive" aria-atomic="true" id="toast_success_if">
                                                        <div class="hidden" id="toast-header_if">
                                                            <i class="hidden" id="msg_if"></i><span class="hidden" id="SUCCESS_if"></span>
                                                            <button type="button" class="hidden" id="closebtn_if" data-dismiss="toast" aria-label="Close" style="visibility:hidden"><i class="hidden" id="abc_if"></i></button>
                                                        </div>
                                                        <div class="hidden" id="messages_content_if"> </div>
                                                    </div>
                                                    <div class="hidden" role="alert" aria-live="assertive" aria-atomic="true" id="toast_success">
                                                        <div class="hidden" id="toast-header">
                                                            <i class="hidden" id="msg"></i><span class="hidden" id="SUCCESS"></span>
                                                            <button type="button" class="hidden" id="closebtn" data-dismiss="toast" aria-label="Close" style="visibility:hidden"><i class="hidden" id="abc"></i></button>
                                                        </div>
                                                        <div class="hidden" id="messages_content"> </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    @Html.HiddenFor(model => model.profile_info.User_id)
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Name</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        @*<input class="form-control" type="text" value="Aaron">*@
                                                        @Html.EditorFor(model => model.profile_info.name, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100", @required = "Required", @pattern = @"^(?![\s.]+$)[a-zA-Z\s.]*$", @title = "Please Enter Name" } })
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Mobile</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        @*<input type="text" class="form-control" value="+56666553712" placeholder="Phone" aria-describedby="basic-addon1">*@
                                                        @Html.EditorFor(model => model.profile_info.contact_no, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "10", @pattern = @"^[789]\d{9}$", @required = "Required", @title = "Please Enter Valid Mobile Number" } })
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Email ID</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        @*<input type="text" class="form-control" value="aaron@artlict.com" placeholder="Email" aria-describedby="basic-addon1">*@
                                                        @Html.EditorFor(model => model.profile_info.email_id, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100", @pattern = @"[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}", @title = "Please Enter Valid Email" } })
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-separator kt-separator--space-lg kt-separator--fit kt-separator--border-solid"></div>
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-xl-3"></div>
                                            <div class="col-lg-9 col-xl-6">
                                                <button type="button" class="btn btn-label-brand btn-bold" id="btnSubmit">Save Info</button>
                                                @*<a href="#" class="btn btn-label-brand btn-bold">Save Info</a>*@
                                                <a href="#" class="btn btn-clean btn-bold">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--end: Tab-->
                        <!--begin: Tab-->
                        <div class="tab-pane @ViewBag.tabPSW" id="securityaccess" role="tabpanel">
                            <form action="Profile/AccountSetting" method="post" id="ChangePswForm">

                                <div class="kt-form kt-form--label-right">
                                    <div class="kt-form__body">
                                        <div class="kt-section kt-section--first">
                                            <div class="kt-section__body">
                                                <div class="form-group row">
                                                    @Html.HiddenFor(model => model.password_info.User_id)
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Current Password <span class="kt-font-danger">*</span></label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        @*<input type="password" class="form-control" value="">*@
                                                        @Html.EditorFor(model => model.password_info.old_passWord, new { htmlAttributes = new { @class = "form-control", @maxlength = "8", @pattern = @"(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$", @type = "password", @id = "oldpassword", @required = "Required", @title = "Please Enter Valid Password" } })
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">New Password <span class="kt-font-danger">*</span> </label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        @*<input type="password" class="form-control" value="">*@
                                                        @Html.EditorFor(model => model.password_info.new_passWord, new { htmlAttributes = new { @class = "form-control", @maxlength = "8", @pattern = @"(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$", @type = "password", @id = "password", @required = "Required", @title = "Please Enter Valid Password" } })
                                                    </div>
                                                </div>
                                                <div class="form-group form-group-last row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Verify Password <span class="kt-font-danger">*</span></label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        @*<input type="password" class="form-control" value="">*@
                                                        @Html.EditorFor(model => model.password_info.new_passWord, new { htmlAttributes = new { @class = "form-control", @maxlength = "8", @pattern = @"(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$", @type = "password", @id = "confirmPassword", @required = "Required", @title = "Please Enter Valid confirm Password" } })
                                                        <span id='message'></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-separator kt-separator--space-lg kt-separator--fit kt-separator--border-solid"></div>
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-xl-3"></div>
                                            <div class="col-lg-9 col-xl-6">
                                                <button type="button" class="btn btn-primary" id="btnChangePSWSubmit">Save Info</button>
                                                <a href="#" class="btn btn-clean btn-bold">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                               
                        </div>
                        <!--end: Tab-->
                    </div>
                    <!--end: Tab Content-->
               
            </div>
        </div>

    </div>
    <!-- end:: Content -->
</div>

<script>

    $(document).ready(function () {
       

        $("#btnSubmit").click(function () {
            if ($("#kt_user_form").valid()) {
              
                var myformdata = $("#kt_user_form").serialize();               
                $.ajax({

                    type: "POST",
                    url: "/Profile/AccountSetting",                    
                    data: myformdata,
                    success: function () {
                       
                        window.location.href = "/Profile/AccountSetting";

                    }

                });
            }
            else {
                return false;
            }
        })

        $('#password, #confirmPassword').on('keyup', function () {
            if ($('#password').val() == $('#confirmPassword').val()) {
                $('#message').html('Matching').css('color', 'green');
            } else
                $('#message').html('Not Matching').css('color', 'red');
        });

        $("#btnChangePSWSubmit").click(function () {
            if ($("#ChangePswForm").valid()) {

                if ($('#password').val() == $('#confirmPassword').val()) {
                    var myformdata = $("#ChangePswForm").serialize();

                    $.ajax({

                        type: "POST",
                        url: "/Profile/AccountSetting",
                        data: myformdata,
                        success: function (result, status, xhr) {

                            window.location.href = "/Profile/AccountSetting";

                        }

                    });
                }
                else {
                    $('#message').html('Not Matching').css('color', 'red');
                    return false;
                }

            }
            else {
                return false;
            }
        });

        $("input:file").change(function (event) {

            var files = $("#photoUp").get(0).files;
            var fileData = new FormData();
            var file = $('input[type="file"]').val();
            var exts = ['jpg', 'jpeg', 'png'];
            // first check if file field has any value
            if (file) {
                // split file name at dot
                var get_ext = file.split('.');
                // reverse name to check extension
                get_ext = get_ext.reverse();
                // check file type is valid as given in 'exts' array
                if ($.inArray(get_ext[0].toLowerCase(), exts) > -1) {
                    for (var i = 0; i < files.length; i++) {
                        fileData.append("fileInput", files[i]);
                    }
                    var apiUrl = "/Profile/UploadProfilePhoto";
                    if (files.length > 0) {
                        $.ajax({
                            type: "POST",
                            url: encodeURI(apiUrl),
                            dataType: "json",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            success: function (result, status, xhr) {
                                $('#toast_success_if').removeClass('hidden').addClass(' toast toast-custom toast-fill fade show');
                                $('#msg_if').removeClass('hidden').addClass(' toast-icon fa fa-check-circle kt-font-success ');
                                $('#SUCCESS_if').removeClass('hidden').addClass('toast-title');
                                $('#abc_if').removeClass('hidden').addClass('fa fa-times');
                                $('#closebtn_if').removeClass('hidden').addClass('toast-close').css('visibility', ' visible');
                                $('#messages_content_if').removeClass('hidden').addClass('toast-body');
                                $('#toast-header_if').removeClass('hidden').addClass('toast-header');
                                $('#SUCCESS_if').html('SUCCESS');
                                $('#messages_content_if').html('Profile Updated Successfully');
                                window.location.href = "/Profile/AccountSetting";
                            },
                            error: function (xhr, status, error) {
                                window.location.href = "/Profile/AccountSetting";
                            }
                        });
                        $("#photoUp").val(null);
                    }

                } else {

                    $('#toast_success').removeClass('hidden').addClass(' toast toast-custom toast-fill fade show');
                    $('#msg').removeClass('hidden').addClass(' toast-icon fa fa-times-circle kt-font-danger ');
                    $('#SUCCESS').removeClass('hidden').addClass('toast-title');
                    $('#abc').removeClass('hidden').addClass('fa fa-times');
                    $('#closebtn').removeClass('hidden').addClass('toast-close').css('visibility', ' visible');
                    $('#messages_content').removeClass('hidden').addClass('toast-body');
                    $('#toast-header').removeClass('hidden').addClass('toast-header');
                    $('#SUCCESS').html('ERROR');
                    $('#messages_content').html('Please Upload Valid Image');
                    $("#photoUp").val(null);
                }
            }

        });

    })   
</script>