﻿@model ISWM.WEB.BusinessServices.userType_master

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-container kt-container--fluid kt-margin-t-10 kt-margin-b-10">

            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">User Type</h3>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <a href="#" onclick="AddEditModel(0)" class="btn btn-icon- btn btn-label btn-label-primary btn-upper btn-font-sm btn-bold"><i class="fa fa-plus"></i> Add New</a>
                </div>
            </div>

        </div>
    </div>
    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Manage User Type Information</h3>
                </div>
            </div>
            <div class="kt-portlet__body">

                <!--begin: Datatable -->
                <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>User Type</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.UserTypeList != null)
                        {
                            foreach (var item in ViewBag.UserTypeList)
                            {
                                <tr>
                                    <td>
                                        @item.srno
                                    </td>
                                    <td>
                                        @item.user_type
                                    </td>
                                    <td>
                                        @item.user_description
                                    </td>
                                    <td>
                                        <span class="badge @item.color_class kt-font-bold"> @item.status</span>
                                       
                                    </td>

                                    <td>
                                        <a href="#" id="@item.id" onclick="AddEditModel(@item.id)" class="btn btn-sm btn-secondary btn-bold" title=""><span class="kt-font-primary">Edit</span></a>
                                       
                                        @if (item.status_id==1)
                                        {
                                            <a href="#" onclick="location.href='@Url.Action("Delete", "UserType", new { id = item.id,status=2 })'" class="btn btn-sm btn-secondary btn-bold" title=""><span class="kt-font-danger">Mark Inactive</span></a>
                                        }
                                        else
                                        {
                                            <a href="#" onclick="location.href='@Url.Action("Delete", "UserType", new { id = item.id,status=1 })'" class="btn btn-sm btn-secondary btn-bold" title=""><span class="kt-font-success">Mark Active</span></a>
                                        }


                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
                <!--end: Datatable -->
            </div>
        </div>
    </div>
    <!-- end:: Content -->
</div>
<!-- Modal -->
<div class="modal fade" id="add_new_info" tabindex="-1" role="dialog"
     data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document" id="myModalBodyDiv1">

    </div>
</div>

<script>

    var AddEditModel = function (id) {
        
        var url = "/UserType/AddEditModel?id=" + id;

                $("#myModalBodyDiv1").load(url, function () {
                    $("#add_new_info").modal("show");

                })

            }
</script>