﻿@model ISWM.WEB.BusinessServices.route_household_details
<!--
This is partial view for Route Household
coder : Pranali Patil
-->

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="add_new_institute_type">Add / Update Route Household Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <!--begin::Form-->

        <form class="kt-form" id="myForm">
            @Html.HiddenFor(model => model.id)
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-form-label">Route Id<span class="kt-font-danger">*</span></label>
                    @Html.DropDownListFor(model => model.route_id, new SelectList((System.Collections.IEnumerable)ViewBag.DDLRoute, "Value", "Text"), "-- select --", new { @class = "form-control", @required = "Required", @title = "Please Select Route" })
                </div>
                <div class="col-sm-6">
                    <label class="col-form-label">Household Id<span class="kt-font-danger">*</span></label>
                    @Html.DropDownListFor(model => model.household_id, new SelectList((System.Collections.IEnumerable)ViewBag.DDLRouteHouse, "Value", "Text"), "-- select --", new { @class = "form-control", @required = "Required", @title = "Please Select HouseHold" })
                </div>
                <div class="col-sm-6">
                    <label class="col-form-label">Status<span class="kt-font-danger">*</span></label>
                    @Html.DropDownListFor(model => model.status, new SelectList((System.Collections.IEnumerable)ViewBag.DDLStatus, "Value", "Text"), "-- select --", new { @class = "form-control", @required = "Required", @title = "Please Select Status" })
                </div>
            </div>
        </form>
        <!--end::Form-->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="$('#add_new_info').modal('hide');$('#toast_error').toast('show');">Close</button>
        <button type="button" class="btn btn-primary" id="btnSubmit">Save Info</button>
    </div>

</div>

<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {
            if ($("#myForm").valid()) {
            //  $("#loaderDiv").show();
            var myformdata = $("#myForm").serialize();

            $.ajax({

                type: "POST",
                url: "/RouteHouseholdDetail/Index",
                data: myformdata,
                success: function () {
                    // $("#loaderDiv").hide();
                    $("#add_new_info").modal("hide");

                    window.location.href = "/RouteHouseholdDetail/Index";
                }
            });
            }
            else
            {
                return false;
            } 
        })
    })
</script>
