﻿@model ISWM.WEB.Models.Models.ComplaintLoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<!--
Project: Integrated Solid Waste Management System (ISWMS)
Author: NeerayTech
Team: Amit S
Contact: info@neeraytech.com
-->
<html lang="en">
<!-- begin::Head -->
<head>
    <base href="">
    <meta charset="utf-8" />
    <title>Complaint Login - ISWMS - Integrated Solid Waste Management System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <!--end::Fonts -->
    <!--begin::Page Custom Styles(used by this page) -->
    <link href="../../assets/css/pages/login/login-v2.css" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="../../assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="../../assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/skins/brand/navy.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/skins/aside/navy.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="../../assets/media/logos/favicon.ico" />
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-login-v2--enabled kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

    <!-- begin:: Page -->

    <div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid__item   kt-grid__item--fluid kt-grid  kt-grid kt-grid--hor kt-login-v2" id="kt_login_v2">
            <!--begin::Item-->
            <div class="kt-grid__item  kt-grid--hor">
                <!--begin::Heade-->
                <div class="kt-login-v2__head">
                    <div class="kt-login-v2__logo">
                        <h2 style="font-weight:900;">ISWMS</h2>
                        <!--
                                                    <a href="#">
                                                        <img src="assets/media/logos/logo-5.png" alt="" />
                                                    </a>
                        -->
                    </div>
                    
                </div>
                <!--begin::Head-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="kt-grid__item  kt-grid  kt-grid--ver  kt-grid__item--fluid">
                <!--begin::Body-->
                <div class="kt-login-v2__body">
                    <!--begin::Wrapper-->
                    <div class="kt-login-v2__wrapper">
                        <div class="kt-login-v2__container">
                            <div class="kt-login-v2__title">
                                <h3>ISWMS Complaint Manager</h3>
                            </div>
                            <!--begin::Form-->

                            @using (Html.BeginForm())
                            {

                                @Html.AntiForgeryToken()
                            <div class="kt-login-v2__form kt-form" id="kt_login_form">
                                @if (ViewBag.MessageCode != null)
                                {
                                    <div class="form-group">

                                        <div class="alert alert-solid-danger alert-bold fade show" role="alert">
                                            <div class="alert-text">@ViewBag.MessageTxt</div>
                                            <div class="alert-close">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true"><i class="la la-close"></i></span>
                                                </button>
                                            </div>
                                        </div>                                      
                                    </div>
                                }

                                    <div class="form-group">
                                        @*<input class="form-control" type="text" placeholder="username" name="username" autocomplete="off">*@
                                        @Html.EditorFor(model => model.mobile_number, new { htmlAttributes = new { @class = "form-control", @required = "Required", @maxlength = "10", @title = "Please Enter Valid Mobile No",@placeholder="Enter Your Mobile Number", @pattern = @"^[789]\d{9}$" } })
                                    </div>
                              
                                <!--begin::Action-->
                                    <div class="kt-login-v2__actions">
                                        <input type="submit" value="Verify Mobile No." class="btn btn-primary" style="width:100%;" />
                                    </div>
                                <!--end::Action-->
                            </div>

                            }
                            <!--end::Form-->
                        </div>
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Image-->
                    <div class="kt-login-v2__image">
                        <img src="../../assets/media/misc/bg_icon.svg" alt="">
                    </div>
                    <!--begin::Image-->
                </div>
                <!--begin::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="kt-grid__item">
                <div class="kt-login-v2__footer">
                    <div class="kt-login-v2__link">
                        <a href="#" class="kt-link kt-font-brand">Privacy</a>
                        <a href="#" class="kt-link kt-font-brand">Legal</a>
                        <a href="#" class="kt-link kt-font-brand">Contact</a>
                    </div>
                    <div class="kt-login-v2__info">
                        &copy;&nbsp;&nbsp;2020&nbsp;&nbsp;<a href="#" target="_blank" class="kt-link">ISWMS</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;All rights reserved
                    </div>
                </div>
            </div>
            <!--end::Item-->

        </div>
    </div>
    <!-- end:: Page -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "metal": "#c4c5d6",
                    "light": "#ffffff",
                    "accent": "#00c5dc",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995",
                    "focus": "#9816f4"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };</script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="../../assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="../../assets/js/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts(used by this page) -->
    <script src="../../assets/js/pages/custom/user/login.js" type="text/javascript"></script>
    <!--end::Page Scripts -->

</body>

<!-- end::Body -->
</html>