﻿
@{
    ViewBag.Title = "HouseHoldMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyDNpkrTN-vWxl2UkV9mDYO6QmA3AKCZkOY"></script>


<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-container kt-container--fluid kt-margin-t-10 kt-margin-b-10">

            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">Live RFID Punch Track Map</h3>
            </div>
            @*<div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <a href="#" class="btn btn-icon- btn btn-label btn-label-primary btn-upper btn-font-sm btn-bold"><i class="fa fa-plus"></i> Add New</a>
                </div>
            </div>*@

        </div>
    </div>
    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Total Houses :  <label id="totalhouse" style=" color:#5867DD"></label></h3>
                </div>
                <div class="kt-portlet__head-label" >
                    <h3 class="kt-portlet__head-title"> Not Punched Houses :  <label id="TotalNotPunchHouse" style=" color:#FD397A"></label></h3>
                </div>
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Punched Houses : <label id="TotalPunchHouse" style=" color:#1DC9B7"></label></h3>
                </div>
            </div>
            <div class="kt-portlet__body">

                <!--begin: map -->
                <div id="map_canvas" style="height: 700px;"></div>
                <!--end: map -->
            </div>
        </div>
    </div>
    <!-- end:: Content -->
</div>




<script>
    var geocoder;
    var map;
    var lastCoordinates = [];
    var marker;
    var Hmarker;
    var count = 0;

    var polyline = new google.maps.Polyline({
        // set desired options for color width
        strokeColor: "#0000FF",  // blue (RRGGBB, R=red, G=green, B=blue)
        strokeOpacity: 0.4      // opacity of line
    }); // create the polyline (global)
    var path = []; // global variable to hold all the past locations

    function initialize() {
        map = new google.maps.Map(
            document.getElementById("map_canvas"), {
                center: new google.maps.LatLng(18.566346, 73.774704),
                zoom: 20,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
        gotdata();
        setInterval(gotdata, 30000);

    }
    google.maps.event.addDomListener(window, "load", initialize);

    function gotdata() {
        $.ajax({

            type: "POST",
            url: "/Map/GetHouseHoldRFIDPunctingHistory",
            success: function (result, status, xhr) {
                document.getElementById('totalhouse').innerHTML = result.totalhouse;
                document.getElementById('TotalPunchHouse').innerHTML = result.TotalPunchHouse;
                document.getElementById('TotalNotPunchHouse').innerHTML = result.TotalNotPunchHouse;

                if (Hmarker && Hmarker.setMap) {
                    Hmarker.setMap(null);
                }

                //NOt Punch House
                var hdata = JSON.parse(result.NTPunchHouse);
                // Using the JQuery "each" selector to iterate through the JSON list and drop marker pins
                $.each(hdata, function (i, item) {
                    var address = item.address1 + ", " + item.address2 + "," + item.area_name + "," + item.ward_number + "," + item.city;
                    Hmarker = new google.maps.Marker({
                        'position': new google.maps.LatLng(item.latitude, item.longitude),
                        'map': map,
                        'title': address
                    });
                    // You can make markers different colors...google it up!
                    Hmarker.setIcon('http://18.191.22.78/Images/RHouse.png')
                })

                //Punch House
                hdata = JSON.parse(result.PunchHouse);
                // Using the JQuery "each" selector to iterate through the JSON list and drop marker pins
                $.each(hdata, function (i, item) {
                    var address = item.address1 + ", " + item.address2 + "," + item.area_name + "," + item.ward_number + "," + item.city;
                    Hmarker = new google.maps.Marker({
                        'position': new google.maps.LatLng(item.latitude, item.longitude),
                        'map': map,
                        'title': address
                    });
                    // You can make markers different colors...google it up!
                    Hmarker.setIcon('http://18.191.22.78/Images/GHouse.png')
                })


            }

        });


        // }
    }
</script>
