﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyDNpkrTN-vWxl2UkV9mDYO6QmA3AKCZkOY"></script>

<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-container kt-container--fluid kt-margin-t-10 kt-margin-b-10">

            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">Live Tracking</h3>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <a href="#" onclick="location.href='@Url.Action("Index", "Truck")'" class="btn btn-icon- btn btn-label btn-label-primary btn-upper btn-font-sm btn-bold"><i class="fa fa-arrow-left"></i> Back to List</a>
                </div>
            </div>

        </div>
    </div>
    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Truck No. :  <label id="trkNo" style=" color:#5867DD">@Session["truckNo"]  @Session["truckSpeed"]</label></h3>
                </div>
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Speed :  <label id="trkSpeed" style=" color:#1DC9B7">0.00 km/h</label></h3>
                </div>
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Ignition :  <label id="trkIg" style=" color:#FD397A">Ignition Off</label></h3>
                </div>
            </div>
            <div class="kt-portlet__body">

                <!--begin: Map -->
                <div id="map_canvas" style="width:100%; height:700px; "></div>
                <!--end: Map -->
            </div>
        </div>
    </div>
    <!-- end:: Content -->
</div>





<script>
    var geocoder;
var map;
 var lastCoordinates = [];
    var marker;
    var Hmarker;
    var NHmarker;  

    var lineSymbol = {
        path: 'M 0,1 0,1',
        strokeOpacity: 1,
        scale: 4
    };

var polyline = new google.maps.Polyline({
   // set desired options for color width
   strokeColor:"#00FF00",  // 
    strokeOpacity: 0.4,    //  
    icons: [{
        icon: lineSymbol,
        offset: '0',
        repeat: '10px'
    }],
}); // create the polyline (global)
var path = []; // global variable to hold all the past locations

function initialize() {
    map = new google.maps.Map(
    document.getElementById("map_canvas"), {
        center: new google.maps.LatLng(18.566346, 73.774704),
        zoom: 20,
        mapTypeId: google.maps.MapTypeId.ROADMAP
        });
    gotdata();
    setInterval(gotdata, 80000);

}
google.maps.event.addDomListener(window, "load", initialize);

    function gotdata() {
        $.ajax({

            type: "POST",
            url: "/Map/GetTruckCurrentLocation",
            success: function (result, status, xhr) {

                document.getElementById('trkSpeed').innerHTML = result.Truckspeed;
                document.getElementById('trkIg').innerHTML = result.TruckIgnition;
                //innerHTML shouldn't work for XML-Nodes
                x = result.lat; // d.getElementsByTagName("y")[0].textContent,
                y = result.lng; //d.getElementsByTagName("x")[0].textContent,
                h = [x, y].join('_');

                if (lastCoordinates[h]) {
                    return;
                }
                // if marker exists and has a .setMap method, hide it
                if (marker && marker.setMap) {
                    marker.setMap(null);
                }

                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(x, y),
                    map: map
                });
                marker.setIcon('http://18.191.22.78/Images/truck1.png');

                lastCoordinates[h] = marker;
                map.panTo(lastCoordinates[h].getPosition());
                path.push(lastCoordinates[h].getPosition());
                if (path.length >= 2) {
                    // display the polyline once it has more than one point
                    polyline.setMap(map);
                    polyline.setPath(path);
                }
                if (Hmarker && Hmarker.setMap) {
                    Hmarker.setMap(null);
                }
                if (NHmarker && NHmarker.setMap) {
                    NHmarker.setMap(null);
                }

                //NOt Punch House                
                var hdata = JSON.parse(result.NTPunchHouse);               
                // Using the JQuery "each" selector to iterate through the JSON list and drop marker pins
                $.each(hdata, function (i, item) {

                    var adrs = item.address1 + ", " + item.address2 + ", " + item.ward_number + ", " + item.area_name + ", " + item.city;
                     Hmarker = new google.maps.Marker({
                         'position': new google.maps.LatLng(item.latitude, item.longitude),
                        'map': map,
                         'title': adrs
                    });
                    // You can make markers different colors...google it up!
                    Hmarker.setIcon('http://18.191.22.78/Images/RHouse.png')

                   
                })

                //Punch House                
                hdata = JSON.parse(result.PunchHouse);
                // Using the JQuery "each" selector to iterate through the JSON list and drop marker pins
                $.each(hdata, function (i, item) {
                    var adrs = item.address1 + ", " + item.address2 + ", " + item.ward_number + ", " + item.area_name + ", " + item.city;
                    NHmarker = new google.maps.Marker({
                        'position': new google.maps.LatLng(item.latitude, item.longitude),
                        'map': map,
                        'title': adrs
                    });
                    // You can make markers different colors...google it up!
                    NHmarker.setIcon('http://18.191.22.78/Images/GHouse.png')

                })


            }

        });


    // }
}
</script>