﻿
@{
    ViewBag.Title = "Steet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewBag.Title</title>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNpkrTN-vWxl2UkV9mDYO6QmA3AKCZkOY"></script>

<style>
    #map_canvas img {
        max-width: none
    }
</style>

<!-- This css is to give a nice big popup "info window" when a marker is clicked on the map -->
<style>
    .infoDiv {
        height: 220px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }

    .infoDiv2 {
        height: 100px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>
<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-container kt-container--fluid kt-margin-t-10 kt-margin-b-10">

            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">Route Map</h3>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <a href="#" onclick="location.href='@Url.Action("Index", "Route")'" class="btn btn-icon- btn btn-label btn-label-primary btn-upper btn-font-sm btn-bold"><i class="fa fa-arrow-left"></i> Back</a>
                </div>
            </div>

        </div>
    </div>
    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Route Name : <span style="color:#5867DD">@ViewBag.RouteName</span> </h3>
                </div>
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Total Number of HouseHold :  <span style="color:#FD397A"><b></b>@ViewBag.HouseholdCount<b /></span> </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <!--begin: map -->
                <div id="map_canvas" style="height: 600px;"></div>
                <!--end: map -->
            </div>
        </div>
    </div>
    <!-- end:: Content -->
</div>
<!-- Modal -->


<!-- This is the div that will contain the Google Map -->

<script>
    // This code tells the browser to execute the "Initialize" method only when the complete document model has been loaded.
    $(document).ready(function () {
        Initialize();
    });

    // Where all the fun happens
    function Initialize() {

        // Google has tweaked their interface somewhat - this tells the api to use that new UI
        google.maps.visualRefresh = true;
        var Liverpool = new google.maps.LatLng('@Html.Raw(ViewBag.CenterLat)', '@Html.Raw(ViewBag.CenterLong)');
        var flightPlanCoordinates = [];
        // These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show
        var mapOptions = {
            zoom: 18,
            center: Liverpool,
            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
        };

        // This makes the div with id "map_canvas" a google map
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        //// This shows adding a simple pin "marker" - this happens to be the Tate Gallery in Liverpool!
        data = JSON.parse('@Html.Raw(ViewBag.jsonlist)');

        //alert(data);
        // Using the JQuery "each" selector to iterate through the JSON list and drop marker pins
        
        $.each(data, function (i, item) {

            var marker = new google.maps.Marker({
                'position': new google.maps.LatLng(item.latitude,item.longitude),
                'map': map,
                'title': item.housenameAddress
            });
           
            // Make the marker-pin blue!
            marker.setIcon('http://18.191.22.78/Images/House.png')

            //draw latlongs as poly line
            //var polyline = marker.polyline(data, { color: 'black' }).addTo(map);

            // put in some information about each json object - in this case, the opening hours.
            var infowindow = new google.maps.InfoWindow({
                //content: "<div class='infoDiv'><h4 class='mapTitle'>" + item.Name + "</h4><div class='infoDiv2'><h2>" + item.address + "</h2></div><div class='infoDiv2'><h2>" + item.householderName + "</h2></div></div>"
            });
            flightPlanCoordinates.push(marker.getPosition());
            // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
            google.maps.event.addListener(marker, 'click', function () {

                infowindow.open(map, marker);

            });


            var lineSymbol = {
                path: 'M 0,1 0,1',
                strokeOpacity: 1,
                scale: 4
            };
            var flightPath = new google.maps.Polyline({
                map: map,
                path: flightPlanCoordinates,
                strokeColor: "#00ff00",
                strokeOpacity:0,
                icons: [{
                    icon: lineSymbol,
                    offset: '0',
                    repeat: '10px'
                }],
                strokeWeight: 2
            });
            flightPath.setMap(mapOptions);


        })


    }

</script>

