﻿@model ISWM.WEB.Models.Models.RFIDPunchingDetailsModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-container kt-container--fluid kt-margin-t-10 kt-margin-b-10">

            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">RFID Punching History</h3>
            </div>
            <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <a href="#" onclick="location.href='@Url.Action("HouseHoldMap", "Map")'" class="btn btn-icon- btn btn-label btn-label-primary btn-upper btn-font-sm btn-bold"><i class="fa fa-map"></i> View On Map</a>
                    </div>
                </div>

        </div>
    </div>
    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Manage RFID Punching History Information</h3>
                </div>
            </div>
            <div class="kt-portlet__body">

                <!--begin: Datatable -->
                <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>RFID Scanner Name</th>
                            <th>RFID Number</th>
                            <th>Punching Date Time</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.RFIDScannerPunchingList != null)
                        {
                            foreach (var item in ViewBag.RFIDScannerPunchingList)
                            {
                                <tr>
                                    <td>
                                        @item.srno
                                    </td>
                                    <td>
                                        @item.RFIDName
                                    </td>
                                    <td>
                                        @item.RfidNo
                                    </td>
                                    <td>
                                        @item.PunchingDateTime
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
                <!--end: Datatable -->
            </div>
        </div>
    </div>
    <!-- end:: Content -->
</div>
<!-- Modal -->
<div class="modal fade" id="add_new_info" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document" id="myModalBodyDiv1">

    </div>
</div>

<script>

    var AddEditModel = function (id) {

        var url = "/Truck/AddEditModel?id=" + id;

        $("#myModalBodyDiv1").load(url, function () {
            $("#add_new_info").modal("show");

        })

    }
</script>