﻿@model ISWM.WEB.BusinessServices.userType_modules
<!-->coder:Smruti Wagh
User Type Module partial view for add and update-->
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="add_new_institute_type">Add / Update User type module Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <!--begin::Form-->

        <form class="kt-form" id="myForm">
            @Html.HiddenFor(model => model.id)
            <div class="form-group row">
                <div class="col-sm-12">
                    <label class="col-form-label">User type <span class="kt-font-danger">*</span></label>
                    @Html.DropDownListFor(model => model.user_type_id, new SelectList((System.Collections.IEnumerable)ViewBag.DDLUserType, "Value", "Text"), "select", new { @class = "form-control", @required = "Required" })
                </div>
                <div class="col-sm-12">
                    <label class="col-form-label">Module<span class="kt-font-danger">*</span></label>
                    @Html.DropDownListFor(model => model.module_id, new SelectList((System.Collections.IEnumerable)ViewBag.DDLModule, "Value", "Text"), "select", new { @class = "form-control", @required = "Required" })
                </div>
                <div class="col-sm-6">
                    <label class="col-form-label">Status<span class="kt-font-danger">*</span></label>
                    @Html.DropDownListFor(model => model.status, new SelectList((System.Collections.IEnumerable)ViewBag.DDLStatus, "Value", "Text"), "-- select --", new { @class = "form-control", @required = "Required" })
                </div>
            </div>
        </form>
        <!--end::Form-->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="$('#add_new_info').modal('hide');$('#toast_error').toast('show');">Close</button>
        <button type="button" class="btn btn-primary" id="btnSubmit">Save Info</button>
    </div>

</div>

<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {
            if ($("#myForm").valid()) {

                var myformdata = $("#myForm").serialize();

                $.ajax({

                    type: "POST",
                    url: "/UserTypeModule/Index",
                    data: myformdata,
                    success: function () {
                        // $("#loaderDiv").hide();
                        $("#add_new_info").modal("hide");
                        window.location.href = "/UserTypeModule/Index";
                    }
                });
            }
            else {
                return false;
            }

        })
    })
</script>

