﻿@model ISWM.WEB.BusinessServices.complaint_master
<!--coder:Smruti Wagh
Household partial view for add and update-->

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="add_new_institute_type">Add New Complaint</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <!--begin::Form-->

        <form class="kt-form" id="myForm">

            @Html.HiddenFor(model => model.id)
            <div class="form-group row">


                <div class="col-sm-6">
                    <label class="col-form-label">Area <span class="kt-font-danger">*</span></label>
                    @Html.DropDownListFor(model => model.area_id, new SelectList((System.Collections.IEnumerable)ViewBag.DDLArea, "Value", "Text"), "Select", new { @class = "form-control", @required = "Required", @title = "Please Select Area" })

                </div>
                <div class="col-sm-6">
                    <label class="col-form-label">Ward No. </label>
                    @Html.DropDownListFor(model => model.ward_id, new SelectList((System.Collections.IEnumerable)ViewBag.DDLWard, "Value", "Text"), "Select", new { @class = "form-control", @required = "Required", @title = "Please Select Ward" })

                </div>
                <div class="col-sm-12">
                    <label class="col-form-label">Complaint Subject <span class="kt-font-danger">*</span></label>
                    @Html.EditorFor(model => model.complaint_subject, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100", @required = "Required", @pattern = @"^(?![\s.]+$)[a-zA-Z\s.]*$", @title = "Please Enter Complaint Subject " } })
                </div>
                <div class="col-sm-12">
                    <label class="col-form-label">Complaint Description<span class="kt-font-danger">*</span></label>
                    @Html.TextAreaFor(model=>model.complaint_description,
                new
                {
                    @value = "Enter Name",
                    @class = "form-control",
                    //@disabled="true",
                    cols = "50",

                    rows = "10",
                    @title = "Please Enter Your Description",
                    @tabindex = "0",
                    //@accesskey="z",
                    @align = "left",
                    @autofocus = "true",
                    @style = "background-color:white; font-weight:bold",
                    @draggable = "true",
                    //@hidden="true",
                    //@maxlength="12",
                    @minlength = "5",
                    @required = "true"                 
                  
                })
                </div>           
               
            </div>

            
                
                
        </form>
        <!--end::Form-->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="$('#add_new_info').modal('hide');$('#toast_error').toast('show');">Close</button>

        <button type="button" class="btn btn-primary" id="btnSubmit">Save Info</button>
    </div>

</div>

<script>

    $(document).ready(function () {
       

        $("#btnSubmit").click(function () {

            if ($("#myForm").valid()) {
                
                    var myformdata = $("#myForm").serialize();
                    $.ajax({

                        type: "POST",
                        url: "/ComplaintManagement/Index",
                        data: myformdata,
                        success: function () {
                            // $("#loaderDiv").hide();
                            $("#add_new_info").modal("hide");
                            window.location.href = "/ComplaintManagement/Index";
                        }
                    });
                
                
            }
            else {

                return false;
            }

        })
    })
</script>

