﻿@model ISWM.WEB.BusinessServices.complaint_history

@{
    ViewBag.Title = "Details";
    if (Session["customerMobNo"] != null)
    {
        Layout = "~/Views/Shared/_Layout_Complaint.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-container kt-container--fluid kt-margin-t-10 kt-margin-b-10">

            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">Complaint Details</h3>
            </div>

            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <a onclick="location.href='@Url.Action("Index","ComplaintManagement")'" class="btn btn-icon- btn btn-label btn-label-primary btn-upper btn-font-sm btn-bold"><i class="fa fa-arrow-left"></i> Back to Complaints Summary</a>
                </div>
            </div>

        </div>
    </div>
    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title"><span class="badge @ViewBag.ComplaintStatusClr">@ViewBag.ComplaintStatus</span>&nbsp;&nbsp;[@ViewBag.ComplaintNumber] : @ViewBag.ComplaintSubject</h3>
                </div>
            </div>
            <div class="kt-portlet__body">

                <div class="form-group row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">                       
                        @if (ViewBag.CommentList != null)
                         {
                            foreach (var item in ViewBag.CommentList)
                            {

                                <p class="mb-4 kt-font-bold">
                                    @item.sender_title <span class="badge @item.cdt_bgcolor">@item.comment_datetime</span>
                                </p>
                                <div class="alert @item.comment_bgcolor alert-bold" role="alert">
                                    <div class="alert-text">
                                        <p>
                                            Hi @item.comment_to,
                                            <br><br>
                                            @item.comment_txt
                                            <br><br>
                                            Thank you.
                                            <br><br>
                                            @item.comment_from
                                        </p>
                                    </div>
                                </div>
                            }
                         }

                        <form class="kt-form" id="myForm">
                            <label class="col-form-label">Add your comments here - </label>
                            @Html.HiddenFor(model => model.complaint_id)
                            @*<textarea id="txtDesc" type="text" rows="8" class="form-control" maxlength="2000"></textarea>*@
                            @*@Html.EditorFor(model => model.comment, new { htmlAttributes = new { @class = "form-control", @id = "txtDesc", @type = "text", @rows = "8", @maxlength = "2000" } })*@
                            @Html.TextAreaFor(model=>model.comment,
                                    new
                                    {
                                        @value = "Enter Name",
                                        @class = "form-control",
                                        //@disabled="true",
                                        cols = "50",

                                        rows = "10",
                                        @title = "Please Enter Your Comment",
                                        @tabindex = "0",
                                        //@accesskey="z",
                                        @align = "left",
                                        @autofocus = "true",
                                        @style = "background-color:white; font-weight:bold",
                                        @draggable = "true",
                                        //@hidden="true",
                                        //@maxlength="12",
                                        @minlength = "5",
                                        @required = "true"

                                    })
                            <br>
                            <button class="btn btn-primary" id="btnSubmit">Submit Response</button>
                        </form>
                    </div>
                    <div class="col-sm-2"></div>
                </div>

            </div>
        </div>
    </div>
    <!-- end:: Content -->
</div>



<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {
            if ($("#myForm").valid()) {

                var myformdata = $("#myForm").serialize();
                
                $.ajax({

                    type: "POST",
                    url: "/ComplaintManagement/Details",
                    data: myformdata,
                    success: function () {
                       
                        window.location.href = "/ComplaintManagement/Details/";

                    }

                });
            }
            else {
                return false;
            }
        })

    })


</script>