﻿@model ISWM.WEB.BusinessServices.complaint_master
@{
    ViewBag.Title = "Index";
    if (Session["customerMobNo"] != null)
    {
        Layout = "~/Views/Shared/_Layout_Complaint.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-container kt-container--fluid kt-margin-t-10 kt-margin-b-10">

            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">Complaints</h3>
            </div>
            @if (Session["customerMobNo"] != null)
            {
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <a href="#" onclick="AddEditModel(0)" class="btn btn-icon- btn btn-label btn-label-primary btn-upper btn-font-sm btn-bold"><i class="fa fa-plus"></i> Add New Complaint</a>
                    </div>
                </div>
            }


        </div>
    </div>
    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">My Complaints Summary</h3>
                </div>
            </div>
            <div class="kt-portlet__body">

                <!--begin: Datatable -->
                <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Complaint Number</th>
                            <th>Complaint Subject</th>
                            <th>Area</th>
                            <th>ward</th>
                            <th>Logged On</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.complaintList != null)
                        {
                            foreach (var item in ViewBag.complaintList)
                            {
                        <tr>
                            <td>
                                @item.srno
                            </td>
                            <td>
                                @item.complaint_number
                            </td>

                            <td>
                                <a onclick="location.href='@Url.Action("Details", "ComplaintManagement", new { id = item.id})'" href="#" class=""> @item.complaint_subject</a>
                            </td>
                            <td>
                                @item.area
                            </td>
                            <td>
                                @item.ward
                            </td>
                            <td>
                                @item.logged_on
                            </td>
                            <td>
                                <span class="badge @item.color_class kt-font-bold"> @item.status</span>

                            </td>

                            @*<td>
          <a href="#" id="@item.id" class="btn btn-sm btn-secondary btn-bold" title=""><span class="kt-font-primary">Details</span></a>

        </td>*@
                            <td>
                                <a href="#" onclick="location.href='@Url.Action("Details", "ComplaintManagement", new { id = item.id})'" class="btn btn-sm btn-secondary btn-bold" title="">View Details</a>
                                @if (Session["customerMobNo"] == null)
                                {
                                    if (item.status_id == 1)
                                    {
                                        <a href="#" onclick="location.href='@Url.Action("UpdateStatus", "ComplaintManagement", new { id = item.id,status=2 })'" title=""><span class="badge badge-info kt-font-bold">Mark In progress</span></a>
                                    }
                                    else if (item.status_id == 2)
                                    {
                                        <a href="#" onclick="location.href='@Url.Action("UpdateStatus", "ComplaintManagement", new { id = item.id,status=3 })'" title=""><span class="badge badge-success kt-font-bold ">Mark Close</span></a>
                                    }
                                    else
                                    {
                                        <a href="#" onclick="location.href='@Url.Action("UpdateStatus", "ComplaintManagement", new { id = item.id,status=2 })'" title=""><span class="badge badge-info kt-font-bold">Mark In progress</span></a>
                                    }
                                }


                            </td>
                        </tr>
                            }
                        }

                    </tbody>
                </table>
                <!--end: Datatable -->
            </div>
        </div>
    </div>
    <!-- end:: Content -->
</div>
<!-- Modal -->
<div class="modal fade" id="add_new_info" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document" id="myModalBodyDiv1">

    </div>
</div>
<script>

    var AddEditModel = function (id) {

        var url = "/ComplaintManagement/AddEditModel?id=" + id;

        $("#myModalBodyDiv1").load(url, function () {
            $("#add_new_info").modal("show");

        })

    }
</script>
